
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* MOBILE MEDIA QUERY */


 /* WEB Design */
 /* * {
    border: 1px solid #0fc4e0;
 } */
body {
    padding: 2%;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #626262;
    position: relative;
    /* //background: #000; 
        &::before, &::after {
            position: fixed;
            inset: 0;
            z-index: -1;
            min-height: 100vh;
            --grad: 
                radial-gradient(at 25%, 
                        red, #{rgba(red, .2)} 50%, transparent 70%);
            --mask: var(--grad), var(--grad), var(--grad);
            -webkit-mask: var(--mask);
            -webkit-mask-composite: source-in;
                            mask: var(--mask);
                            mask-composite: intersect;
            mix-blend-mode: color;
            content: ''
        }
        &::before {
            background: #000;
            filter: url(#f)
        }
        &::after {
            background: linear-gradient(90deg, purple, navy 20%, aqua);
        } */
    }

/* TEXT */
.text {
    display: block;
    width: 50%;
    /* margin-left: 3%; */
}

h1 {
font-size: 200px;
margin: 0%;
}
h2 {
font-size: 70px;
margin-top: 0;
line-height: 70px;
}
p {
    font-size: 24px;
    line-height: normal;
}
h3 {
    font-size: 34px;
}

/* MUSIC */

.help {
    margin-right: 3%;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    /* max-height: 100vh;
    max-width: 100vw; */
}

.player {
    display: block;
    /* margin-left: 100px; */
    /* max-width: 100vh; */
}

/* GLOBAL CONTROLS */

.topbutt {
    display: flex;
    margin-bottom: 60px;
    /* position: static; */
}
.refresh {
    margin-left: 40px;
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    background: rgba(255, 255, 255, 0.236);
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #ffffff;
    text-align: center;
    font-size: 30px;
    /* transition: .15s background-color,.15s border-color,.15s color,.15s fill; */
}
.refresh:hover {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.refresh:active {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.pause{
    /* margin-left: 40px; */
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 20px;
    padding: 10px 35px;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    /* transition: .15s background-color,.15s border-color,.15s color,.15s fill; */
}
.pause:hover {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.pause:active {
    background: #ffffff86;
    border: 2px solid #ffffff;
}

/* MUSIC BUTTONS + SLIDERS */
.p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.g {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 60px;
}
.b {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 60px;
}
.w {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 60px;
}

/* SOUND DIVS */
.left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.greensounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.brownsounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.pinksounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.whitesounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

/* MAIN SOUND BUTTONS + STATES */
/* GREEN SOUNDS */
.green {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #0FE07C;
    color: #0FE07C;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.green:hover {
    background: #ffffff;
    border: 2px solid #0FE07C;
    color: #0FE07C;
}
.green:active {
    background: #ffffff;
    border: 2px solid #0FE07C;
    color: #0FE07C;
}

/* WHITE SOUNDS */
.white {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.white:hover {
    background: #ffffff;
    border: 2px solid #626262;
    color: #626262;

}
.white:active {
    background: #ffffff;
    border: 2px solid #626262;
    color: #626262;
}

/* PINK SOUNDS */
.pink {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #F22FB0;
    color: #F22FB0;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.pink:hover {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}
.pink:active {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}

/* BROWN SOUNDS */
.brown {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #B6730F;
    color: #B6730F;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.brown:hover {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}
.brown:active {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}

/* SLIDERS */
.greenslider {
    color: white;
}
.pinkslider {
    color: white;
}
.whiteslider {
    color: white;
}
.brownslider {
    color: white;
}

/* SPAN */
.s1 {
    color: #ffffff;
    font-weight: 700;
}
.s2 {
    color: #B6730F;
    font-weight: 700;
}
.s3 {
    color: #F22FB0;
    font-weight: 700;
}
.s4 {
    color: #0FE07C;
    font-weight: 700;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
                body {
                    font-family: 'Space Grotesk', sans-serif;
                    background-color: #a4a2a0;
                   max-width: 100vw;
                    /* //background: #000;
                    
                        &::before, &::after {
                            position: fixed;
                            inset: 0;
                            z-index: -1;
                    
                            --grad: 
                                radial-gradient(at 25%, 
                                        red, #{rgba(red, .2)} 50%, transparent 70%);
                            --mask: var(--grad), var(--grad), var(--grad);
                            -webkit-mask: var(--mask);
                            -webkit-mask-composite: source-in;
                                            mask: var(--mask);
                                            mask-composite: intersect;
                            mix-blend-mode: color;
                            content: ''
                        }
                        &::before {
                            background: #000;
                            filter: url(#f)
                        }
                        &::after {
                            background: linear-gradient(90deg, purple, navy 20%, aqua);
                        } */
                }

            /* TEXT */

            .text {
                /* display: block; */
                /* flex-wrap: nowrap; */
                margin-left: 0%;
                width: 100%;
                
            }

            h1 {
                font-size: 50px;
                margin-bottom: 30px;
                padding-bottom: 0;
            }
            h2 {
                font-size: 40px;
                line-height: 50px;
            }
            p {
                font-size: 20px;
                line-height: normal;
            }
            h3 {
                font-size: 24px;
            }

            /* MUSIC */
                .page {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                


                /* global controls */

            .topbutt {
                display: block;
                margin-bottom: 10px;
            }

            .refresh {
                display: inline-block;
                /* box-sizing: border-box;
                height: 110px; */
                background-color: rgba(255, 255, 255, 0.236);
                border: 2px solid #ffffff;
                color: #fff;
                font-size: 20px;
                padding: 10px 20px;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: 80px;
                height: 50px;
                margin-left: 20px;
            }

            .refresh:active {
                background: #ffffff86;
                border: 2px solid #ffffff;
            }

            .pause{
                margin: 0%;
                display: inline-block;
                /* box-sizing: border-box;
                height: 110px; */
                background-color: rgba(255, 255, 255, 0.236);
                border: 2px solid #ffffff;
                color: #fff;
                font-size: 20px;
                padding: 10px 20px;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: 80px;
                height: 50px;
            }

            .pause:active {
                background: #ffffff86;
                border: 2px solid #ffffff;
            }

            /* sliders + music button */

            .p {
                display: flex;
                flex-direction: column;
                margin: 0%;
            }

            /* music div */

            .player {
                display: flex;
            }

            .left {
                display: flex;
                flex-direction: column;
                margin-right: 30px;
                /* width: fit-content; */
            }
            .greensounds {
                display: flex;
                flex-direction: row;
            }
            .brownsounds {
                display: flex;
                flex-direction: row;
            }
            .right {
                display: flex;
                flex-direction: column;

                /* width: fit-content; */
            }
            .pinksounds {
                display: flex;
                flex-direction: row;
            
            }
            .whitesounds {
                display: flex;
                flex-direction: row;
                
            }

            /* buttons and states */

            .green {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.236);
                border: 2px solid #0FE07C;
                color: #0FE07C;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: auto;
                height: auto;
            }

            .green:active {
                background: #ffffff;
                border: 2px solid #0FE07C;
                color: #0FE07C;
            }
            .white {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.236);
                border: 2px solid #ffffff;
                color: rgb(255, 255, 255);
                padding: 8% 15%;
                text-align: center;
                border-radius: 50px;
                font-size: 18px;
                font-weight: 500;
                width: auto;
                height: auto;
            }

            .white:active {
                background: #ffffff;
                border: 2px solid #626262;
                color: #626262;
            }
            .pink {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.236);
                border: 2px solid #F22FB0;
                color: #F22FB0;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: auto;
                height: auto;
            }

            .pink:active {
                background: #ffffff;
                border: 2px solid #F22FB0;
                color: #F22FB0;
            }
            .brown {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: rgba(255, 255, 255, 0.236);
                border: 2px solid #B6730F;
                color: #B6730F;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: auto;
                height: auto;
            }

            .brown:active {
                background: #ffffff;
                border: 2px solid #B6730F;
                color: #B6730F;
            }

}