@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
body {
    padding: 50px;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(255, 255, 255);
    //background: #000; 
        &::before, &::after {
            position: fixed;
            inset: 0;
            z-index: -1;
            min-height: 100vh;
            --grad: 
                radial-gradient(at 25%, 
                        red, #{rgba(red, .2)} 50%, transparent 70%);
            --mask: var(--grad), var(--grad), var(--grad);
            -webkit-mask: var(--mask);
            -webkit-mask-composite: source-in;
                            mask: var(--mask);
                            mask-composite: intersect;
            mix-blend-mode: color;
            content: ''
        }
        &::before {
            background: #000;
            filter: url(#f)
        }
        &::after {
            background: linear-gradient(90deg, purple, navy 20%, aqua);
        }
    }

/* TEXT */
.text {
    display: block;
    margin-left: 200px;
    max-width: 30vw;
    margin-top: -50px;
}
h1 {
font-size: 200px;
margin-bottom: 0;
padding-bottom: 0;
}
h2 {
font-size: 70px;
margin-top: 0;
}
p {
    font-size: 24px;
    line-height: normal;
}


/* MUSIC */
.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100vh;
    max-width: 100vw;
}

.player {
    display: block;
    margin-left: 100px;
    /* max-width: 100vh; */
}

/* GLOBAL CONTROLS */

.topbutt {
    display: flex;
    margin-bottom: 60px;
    position: static;
}
.refresh {
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    background: rgba(255, 255, 255, 0.236);
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #ffffff;
    /* transition: .15s background-color,.15s border-color,.15s color,.15s fill; */
}
.refresh:hover {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.refresh:active {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.pause{
    margin-left: 40px;
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 50px;
    /* transition: .15s background-color,.15s border-color,.15s color,.15s fill; */
}
.pause:hover {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.pause:active {
    background: #ffffff86;
    border: 2px solid #ffffff;
}

/* MUSIC BUTTONS + SLIDERS */
.p {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.g {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.b {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.w {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}

/* SOUND DIVS */
.left {
    display: flex;
    flex-direction: column;
}
.greensounds {
    display: flex;
    flex-direction: row;
}
.brownsounds {
    display: flex;
    flex-direction: row;
}
.right {
    display: flex;
    flex-direction: column;
}
.pinksounds {
    display: flex;
    flex-direction: row;
    
}
.whitesounds {
    display: flex;
    flex-direction: row;
   
}

/* MAIN SOUND BUTTONS + STATES */
/* GREEN SOUNDS */
.green {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #0FE07C;
    color: #0FE07C;
    padding: 50px 80px;
    text-align: center;
    border-radius: 100px;
    font-size: 40px;
    font-weight: 500;
}
.green:hover {
    background: #ffffff;
    border: 2px solid #0FE07C;
    color: #0FE07C;
}
.green:active {
    background: #ffffff;
    border: 2px solid #0FE07C;
    color: #0FE07C;
}

/* WHITE SOUNDS */
.white {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 50px 80px;
    text-align: center;
    border-radius: 100px;
    font-size: 40px;
    font-weight: 500;
}
.white:hover {
    background: #ffffff;
    border: 2px solid #626262;
    color: #626262;

}
.white:active {
    background: #ffffff;
    border: 2px solid #626262;
    color: #626262;
}

/* PINK SOUNDS */
.pink {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #F22FB0;
    color: #F22FB0;
    padding: 50px 80px;
    text-align: center;
    border-radius: 100px;
    font-size: 40px;
    font-weight: 500;
}
.pink:hover {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}
.pink:active {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}

/* BROWN SOUNDS */
.brown {
    display: inline-block;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #B6730F;
    color: #B6730F;
    padding: 50px 80px;
    text-align: center;
    border-radius: 100px;
    font-size: 40px;
    font-weight: 500;
}
.brown:hover {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}
.brown:active {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}

/* SLIDERS */
.greenslider {
    color: white;
}
.pinkslider {
    color: white;
}
.whiteslider {
    color: white;
}
.brownslider {
    color: white;
}

/* SPAN */
.s1 {
    color: #ffffff;
    font-weight: 700;
}
.s2 {
    color: #B6730F;
    font-weight: 700;
}
.s3 {
    color: #F22FB0;
    font-weight: 700;
}
.s4 {
    color: #0FE07C;
    font-weight: 700;
}

/* MOBILE MEDIA QUERY */

@media only screen and (max-width: 600px) {
    body {
        font-family: 'Space Grotesk', sans-serif;
        //background: #000;
        
            &::before, &::after {
                position: fixed;
                inset: 0;
                z-index: -1;
                min-height: 100vh;
                --grad: 
                    radial-gradient(at 25%, 
                            red, #{rgba(red, .2)} 50%, transparent 70%);
                --mask: var(--grad), var(--grad), var(--grad);
                -webkit-mask: var(--mask);
                -webkit-mask-composite: source-in;
                                mask: var(--mask);
                                mask-composite: intersect;
                mix-blend-mode: color;
                content: ''
            }
            &::before {
                background: #000;
                filter: url(#f)
            }
            &::after {
                background: linear-gradient(90deg, purple, navy 20%, aqua);
            }
    }

    /* MUSIC */
.page {
    display: flex;
    flex-direction: column;
}
.player {
    display: block;
}

.topbutt {
    display: flex;
    margin-bottom: 60px;
}
.refresh {
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    background: rgba(255, 255, 255, 0.236);
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #ffffff;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
}
.refresh:hover {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.refresh:active {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.pause{
    margin-left: 40px;
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 50px;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
}
.pause:hover {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.pause:active {
    background: #ffffff86;
    border: 2px solid #ffffff;
}
.p {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.g {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.b {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.w {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.left {
    display: flex;
    flex-direction: row;
}
.greensounds {
    display: flex;
    flex-direction: column;
}
.brownsounds {
    display: flex;
    flex-direction: column;
}
.right {
    display: flex;
    flex-direction: row;
}
.pinksounds {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.whitesounds {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.green {
    display: inline-block;
    margin-bottom: 14px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #0FE07C;
    color: #0FE07C;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
}
.green:hover {
    background: #ffffff;
    border: 2px solid #0FE07C;
    color: #0FE07C;
}
.green:active {
    background: #ffffff;
    border: 2px solid #0FE07C;
    color: #0FE07C;
}
.white {
    display: inline-block;
    margin-bottom: 14px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
}
.white:hover {
    background: #ffffff;
    border: 2px solid #626262;
    color: #626262;

}
.white:active {
    background: #ffffff;
    border: 2px solid #626262;
    color: #626262;
}
.pink {
    display: inline-block;
    margin-bottom: 14px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #F22FB0;
    color: #F22FB0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
}
.pink:hover {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}
.pink:active {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}
.brown {
    display: inline-block;
    margin-bottom: 14px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.236);
    border: 2px solid #B6730F;
    color: #B6730F;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    transition: .15s background-color,.15s border-color,.15s color,.15s fill;
}
.brown:hover {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}
.brown:active {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}
.greenslider {
    background: white;
}
.pinkslider {
    color: white;
}
.whiteslider {
    color: white;
}
.brownslider {
    color: white;
}


/* TEXT */
.text {
    display: block;
}
h1 {
font-size: ;
}
}