
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

 /* WEB Design */

body {
    padding: 4%;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    }

    
.page {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
.player {
        display: block;
        margin-right: 300px;
    }

/* TEXT */
.text {
    display: block;
    width: 40%;
    flex-wrap: nowrap;
}

h1 {
    font-size: 150px;
    margin: 0%;
    /* margin-top: -40px; */
}
h2 {
    font-size: 70px;
    margin-top: 0;
    line-height: 70px;
}
p {
    font-size: 24px;
    line-height: normal;
    width: 75%;
}
h3 {
    font-size: 34px;
}


/* MUSIC */



/* GLOBAL CONTROLS */

.topbutt {
    display: block;
    margin-bottom: 100px;
    margin-right: 0%;
}
.refresh {
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    background-color: #ffffff00;
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 30px;
    padding: 1.5% 7%;
    text-align: center;
    border-radius: 100px;
    /* width: 300px;
    height: 100px; */
}

.refresh:hover {
    background: #ffffff3e;
    border: 2px solid #ffffff;
}

/* .refresh__text, */
.refresh__icon {
    display: inline-block;
    /* background: #ffffff86; */
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}
.refresh__icon {
    font-size: 1.5em;
    /* background: rgba(0, 0, 0, 0.08); */
}

.pause{
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    background-color: #ffffff00;
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 30px;
    padding: 1.5% 7%;
    text-align: center;
    border-radius: 100px;
    margin-right: 60px;
    /* width: 300px; */
    /* height: 100px; */
}

.pause:hover {
    background: #ffffff3e;
    border: 2px solid #ffffff;
}

/* .pause__text, */
.pause__icon {
    display: inline-block;
    /* background: #ffffff86; */
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}
.pause__icon {
    font-size: 1.5em;
    /* background: rgba(0, 0, 0, 0.08); */
}


/* MUSIC BUTTONS + SLIDERS */
.p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
    /* width: 100%; */
}

/* pink slider */
.pinkslider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 50px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.pinkslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.pinkslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 100%;
    background: #F22FB0;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(90, 90, 90);
  }
  
.pinkslider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F22FB0; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* green slider */

.greenslider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 50px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.greenslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.greenslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 100%;
    background: #06c05d;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(90, 90, 90);
  }
  
.greenslider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #06c05d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

/* brown slider */

.brownslider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 50px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.brownslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.brownslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 100%;
    background: #B6730F;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(90, 90, 90);
  }
  
.brownslider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #B6730F; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

/* white slider */

.whiteslider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 50px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.whiteslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.whiteslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 100%;
    background: #626262;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb(90, 90, 90);
  }
  
.whiteslider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #626262; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


/* SOUND DIVS */
.left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.greensounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.brownsounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.pinksounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.whitesounds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

/* MAIN SOUND BUTTONS + STATES */
/* GREEN SOUNDS */
.green {
    display: inline-block;
    margin-bottom: 40px;
    background-color: #ffffffb6;
    border: 2px solid #06c05d;
    color: #06c05d;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.green:hover {
    background: #ffffff;
    border: 2px solid #06c05d;
    color: #06c05d;
}


/* WHITE SOUNDS */
.white {
    display: inline-block;
    margin-bottom: 40px;
    background-color: #ffffffb6;
    border: 2px solid #626262;
    color: #626262;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.white:hover {
    background: rgb(255, 255, 255);
    border: 2px solid #626262;
    color: #626262 !important;

}

/* PINK SOUNDS */
.pink {
    display: inline-block;
    margin-bottom: 40px;
    background-color:#ffffffb6;
    border: 2px solid #F22FB0;
    color: #F22FB0;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.pink:hover {
    background: #ffffff;
    border: 2px solid #F22FB0;
    color: #F22FB0;
}


/* BROWN SOUNDS */
.brown {
    display: inline-block;
    margin-bottom: 40px;
    background-color: #ffffffb6;
    border: 2px solid #B6730F;
    color: #B6730F;
    padding: 5% 10%;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
    height: 100px;
}
.brown:hover {
    background: #ffffff;
    border: 2px solid #B6730F;
    color: #B6730F;
}

/* SPAN */
.s1 {
    color: #626262;
    font-weight: 700;
}
.s2 {
    color: #B6730F;
    font-weight: 700;
}
.s3 {
    color: #F22FB0;
    font-weight: 700;
}
.s4 {
    color: #06c05d;
    font-weight: 700;
}
 /* gradient background */

 .gradient-background {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(ellipse at center, #eeb968, #ff8378, #ff9ec3, #ad82f8,#9ce5ff, #44d6b4,#adffb8);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    }
    @-webkit-keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

    .help {
        max-width: 100%;
        margin: 0%;
    }

/* MOBILE MEDIA QUERY */

@media only screen and (min-width: 200px) and (max-width: 600px) {
                body {
                    font-family: 'Space Grotesk', sans-serif;
                   max-width: 100%;
                   padding: 4%;
                   position: relative;
                }

                .help {
                    max-width: 100%;
                    margin: 0%;
                }

            /* TEXT */

            .text {
                display: block;
                flex-wrap: nowrap;
                margin: 0%;
                width: 100%;
            
            }

            h1 {
                font-size: 70px;
                margin-bottom: 10px;
                margin-top: 60px;
                padding-bottom: 0;
            }
            h2 {
                font-size: 30px;
                line-height: 30px;
                font-weight: 500;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                width: 100%;
            }
            h3 {
                font-size: 30px;
                font-weight: 500;
            }

            /* MUSIC */
                .page {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    /* align-items: center; */
                }

                /* global controls */

            .topbutt {
                display: block;
                margin-bottom: 30px;
            }

            .refresh{
                display: inline-flex;
                box-sizing: border-box;
                height: 100%;
                background-color: #ffffff00;
                border: 2px solid #ffffff;
                color: #fff;
                padding: 10px 15px;
                text-align: center;
                border-radius: 50px;
                font-size: 20px;
                font-weight: 700;
            }

            .refresh__icon {
                display: inline-block;
                align-items: center;
                padding: 0 24px;
                color: #fff;
                height: 100%;
                
            }
            .refresh__icon {
                font-size: 1em;
            }
            .pause{
                display: inline-flex;
                box-sizing: border-box;
                height: 100%;
                background-color: #ffffff00;
                border: 2px solid #ffffff;
                color: #fff;
                padding: 10px 15px;
                text-align: center;
                border-radius: 50px;
                font-size: 20px;
                font-weight: 700;
                margin-right: 10px;
            }
            .pause__icon {
                display: inline-block;
                align-items: center;
                padding: 0 24px;
                color: #fff;
                height: 100%;
                
            }
            .pause__icon {
                font-size: 1em;
            }

            /* sliders + music button */

            .p {
                display: flex;
                flex-direction: column;
                margin: 0%;
                padding: 0%;
            }

            /* music div */

            .player {
                display: flex;
            }

            .left {
                display: flex;
                flex-direction: column;
                padding-right: 30px;
                margin: 0%;
            }

            .greensounds {
                display: flex;
                flex-direction: row;
                margin: 0%;
            }

            .brownsounds {
                display: flex;
                flex-direction: row;
                margin: 0%;
            }

            .right {
                display: flex;
                flex-direction: column;
                margin: 0%;
            }
            
            .pinksounds {
                display: flex;
                flex-direction: row;
                margin: 0%;
            }

            .whitesounds {
                display: flex;
                flex-direction: row; 
                margin: 0%; 
            }

            /* sound buttons */

            .green {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: #ffffffb6;
                border: 2px solid #06c05d;
                color: #06c05d;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: 150px;
                height: 50px;
            }

            .white {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: #ffffffb6;
                border: 2px solid #626262;
                color: #626262;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: 150px;
                height: 50px;
            }

            .pink {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: #ffffffb6;
                border: 2px solid #F22FB0;
                color: #F22FB0;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: 150px;
                height: 50px;
            }

            .brown {
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 20px;
                background-color: #ffffffb6;
                border: 2px solid #B6730F;
                color: #B6730F;
                padding: 8% 15%;
                text-align: center;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 500;
                width: 150px;
                height: 50px;
            }

            /* pink slider */
            .pinkslider {
                -webkit-appearance: none;
                width: 100%;
                height: 12px;
                border-radius: 50px;  
                background: #ffffff;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .pinkslider::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                width: 20px; /* Set a specific slider handle width */
                height:20px; /* Slider handle height */
                border-radius: 100%;
                background: #F22FB0;
                cursor: pointer;
                box-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
            
            .pinkslider::-moz-range-thumb {
                width: 25px; /* Set a specific slider handle width */
                height: 25px; /* Slider handle height */
                background: #F22FB0; /* Green background */
                cursor: pointer; /* Cursor on hover */
            }

            /* green slider */
            .greenslider {
                -webkit-appearance: none;
                width: 100%;
                height: 12px;
                border-radius: 50px;  
                background: #ffffff;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .greenslider::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                width: 20px; /* Set a specific slider handle width */
                height:20px; /* Slider handle height */
                border-radius: 100%;
                background: #06c05d;
                cursor: pointer;
                box-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
            
            .greenslider::-moz-range-thumb {
                width: 25px; /* Set a specific slider handle width */
                height: 25px; /* Slider handle height */
                background: #06c05d; /* Green background */
                cursor: pointer; /* Cursor on hover */
            }

            /* brown slider */

            .brownslider {
                -webkit-appearance: none;
                width: 100%;
                height: 12px;
                border-radius: 50px;  
                background: #ffffff;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .brownslider::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                width: 20px; /* Set a specific slider handle width */
                height:20px; /* Slider handle height */
                border-radius: 100%;
                background: #B6730F;
                cursor: pointer;
                box-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
            
            .brownslider::-moz-range-thumb {
                width: 25px; /* Set a specific slider handle width */
                height: 25px; /* Slider handle height */
                background: #B6730F; /* Green background */
                cursor: pointer; /* Cursor on hover */
            }
            /* white slider */
            .whiteslider {
                -webkit-appearance: none;
                width: 100%;
                height: 12px;
                border-radius: 50px;  
                background: #ffffff;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .whiteslider::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                width: 20px; /* Set a specific slider handle width */
                height:20px; /* Slider handle height */
                border-radius: 100%;
                background: #626262;
                cursor: pointer;
                box-shadow: 1px 1px 1px rgb(90, 90, 90);
            }
            
            .whiteslider::-moz-range-thumb {
                width: 25px; /* Set a specific slider handle width */
                height: 25px; /* Slider handle height */
                background: #626262; /* Green background */
                cursor: pointer; /* Cursor on hover */
            }
            }